.ListFamily {
    .bg-family {
        background-image: url(../../../../../assets/img/background-family.png);
        background-size: cover;
        width: 227px;
        height: 388px;
    }

    .card-item {
        margin: 20px;
    }

    .ant-card-meta-detail {
        margin: 20px;

        .ant-card-meta-title {
            color: white;
        }

        .ant-card-meta-description {
            color: white;
        }
    }
}
